.build/
.build2/
stage-0/*.inspect.ndjson
stage-0/*_preview.png
stage-1/*.inspect.ndjson
stage-1/*_preview.png
stage-2/*.inspect.ndjson
stage-2/*_preview.png
stage-3/*.inspect.ndjson
stage-3/*_preview.png
stage-4/*.inspect.ndjson
stage-4/*_preview.png
stage-5/*.inspect.ndjson
stage-5/*_preview.png
